body {
    display: flex;
    background-color: rgb(44, 44, 44);
    color: white;
}

.objName {
    font-size: 35px;
    padding-right: 25px;
}

.icon {
    height: 35px;
    padding-right: .5em;
}

.gold {
    color: rgb(219, 218, 218);
    margin-top: -3px;
    margin-bottom: 10px;
    font-size: 13px;
    text-align: left;
}

.listWrap {
    display: flex;
    flex-direction: column;
    border: solid 2px rgb(0, 0, 0);
    background-color: rgb(20, 20, 20);
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

ul {
    list-style-type: none;
}

.leftList {

}

.rightList {
    margin-top: -1em;
}

/* --- Media Query --- */
@media screen and (min-width: 900px) { 

    .listWrap {
        flex-direction: row;
    }

    .leftList {
        margin-bottom: -32.5px;
    }
    
    .rightList {
        margin-top: 0;
        margin-right: 3.5em;
    }

}

.coinImg {
    height: 12px;
}