body {
    background-color: rgb(44, 44, 44);
    color: white;
}

.nav_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;
    max-width: 440px;
}

.link_container {
    display: flex;
    flex-direction: row;
    margin-right: -1px;
}

.selectionBox {
    background-color: rgb(20, 20, 20);
    border: solid 2px rgb(0, 0, 0);
    color: white;
    width: 600px;
    height: 25px;
}

.link {
    background-color: rgb(20, 20, 20);
    border: solid 2px black;
    text-decoration: none;
    color: white;
    width: 100px;
    height: 26px;
    margin-left: 4px;
}

.objName {
    font-size: 35px;
    padding-right: 25px;
}

.icon {
    height: 35px;
    margin-right: .5em;
    margin-bottom: -1px;
}

.gold {
    color: rgb(219, 218, 218);
    margin-top: -3px;
    margin-bottom: 10px;
    font-size: 13px;
    text-align: left;
}

.listWrap {
    display: flex;
    flex-direction: column;
    border: solid 2px rgb(0, 0, 0);
    background-color: rgb(20, 20, 20);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    max-width: 500px;
    width: 440px;
}

ul {
    list-style-position: inside;
    list-style-type: none;
}

.rightList {
    margin-top: -1em;
}

/* --- Media Query --- */
@media screen and (min-width: 900px) { 

    .nav_container {
        max-width: 850px;
        margin-right: auto;
    }

    .selectionBox {
        margin-left: -1px;
        margin-right: 10px;
    }

    .listWrap {
        flex-direction: row;
        max-width: 850px;
        width: 850px;
    }

    .leftList {
        margin-bottom: -32.5px;
        width: 435px;
    }
    
    .rightList {
        margin-top: 0;
        margin-right: 3.5em;
    }

}

.coinImg {
    height: 12px;
}